.player-main {
    width: 100%;
    max-width: 500px;
    margin-top: .5rem;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.controls button {
    font-size: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
}

#playBtn {
    font-size: 40px;
    border-radius: 100%;
    border: 1px solid black;
    width: 70px;
    height: 70px;
}

.timeline {
    display: flex;
    align-items: center;
    gap: 10px;
}

#seekBar {
    flex: 1;
}
